ul {
  list-style-type: none;
  display: contents;
}
li {
  list-style-type: none;
}
.fa-square-check {
  color: green;
  cursor: pointer;
  margin-left: 10px;
}
.fa-square-minus {
  color: red;
  cursor: pointer;
  margin-left: 10px;
}
